PGUSER=
PGPASSWORD=
PGHOST=
PGPORT=
PGDATABASE=
BETTER_AUTH_SECRET=your-secret-here
ORIGIN=https://your-production-domain.com
ORIGIN_DEV=http://localhost:3000
OPENROUTER_API_KEY=
TAVILY_API_KEY=
REASONING_MODEL=
WRITING_MODEL=